/target
.env
node_modules
templates
src/frontend/node_modules
src/frontend/bun.lockdb
src/frontend/logs
src/frontend/*.log
src/frontend/npm-debug.log*
src/frontend/yarn-debug.log*
src/frontend/yarn-error.log*
src/frontend/pnpm-debug.log*
src/frontend/lerna-debug.log*
src/templates/*/*
src/frontend/dist
src/frontend/dist-ssr
src/frontend/*.local
dist